<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <!-- Rules for Get Users -->
                <rule name="Get Users" stopProcessing="true">
                    <match url="^api/users/?$" ignoreCase="true" />
                    <action type="Rewrite" url="/api/users.php"  />
                </rule>
                <rule name="Get a User" stopProcessing="true">
                    <match url="^api/users/([a-zA-Z0-9-]+)/?$" ignoreCase="true" />
                    <action type="Rewrite" url="/api/users.php?users={R:1}"  />
                </rule>

                <!-- Rule to Insert Users -->
                <rule name="Insert Users" stopProcessing="true">
                    <match url="^api/userInsert/([_.a-zA-Z0-9-]+)/?$" ignoreCase="true" />
                    <action type="Rewrite" url="/api/userInsert.php?username={R:1}&amp;password={R:2}&amp;email={R:3}&amp;phone={R:4}&amp;type={R:5}&amp;fullName={R:6}"  />
                </rule>

                <!-- Rules for Get Experiments -->
                <rule name="Get Experiments" stopProcessing="true">
                    <match url="^api/experiments/?$" ignoreCase="true" />
                    <action type="Rewrite" url="/api/experiments.php"  />
                </rule>
                <rule name="Get an Experiment" stopProcessing="true">
                    <match url="^api/experiments/([a-zA-Z0-9-]+)/?$" ignoreCase="true" />
                    <action type="Rewrite" url="/api/experiments.php?experiments={R:1}"  />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>